<div class="container text-center col-lg-4 col-md-6 col-sm-12">
    <form class="form-group">
        <input type="text" class="form-control mt-2" name="cust.id" placeholder="ID" [(ngModel)]="cust.Id">
        <input type="text" class="form-control mt-2" name="cust.name" placeholder="Name" [(ngModel)]="cust.Name">
        <input type="text" class="form-control mt-2" name="cust.add" placeholder="Address" [(ngModel)]="cust.Address">
        <button class="btn btn-primary mt-2" (click)="addCustomer()">Submit</button>
        &nbsp;
        <button class="btn btn-primary mt-2" (click)="updateCustomer(cust)">Update</button>
    </form>

    <!-- <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let cust of customers">
            <td>{{cust.CustomerId}}</td>
            <td>{{cust.CustomerName}}</td>
            <td>{{cust.CustomerAddress}}</td>
        </tr>
    </table> -->
    <grid-view 
        [grid-data]="customers" 
        [grid-entityname]="title" 
        (grid-selected)="modifyCustomer($event)"
        (grid-deleted)="deleteCustomer($event)">
    </grid-view>
</div>